<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-company-carrier-account-heading" jhiTranslate="eshipperApp.companyCarrierAccount.home.createOrEditLabel">Create or edit a Company Carrier Account</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.companyCarrierAccount.accountOwner" for="field_accountOwner">Account Owner</label>
                    <select class="form-control" name="accountOwner" formControlName="accountOwner" id="field_accountOwner">
                        <option value="OWNACCOUNT">{{ 'eshipperApp.AccountOwner.OWNACCOUNT' | translate }}</option>
                        <option value="CUSTOMERACCOUNT">{{ 'eshipperApp.AccountOwner.CUSTOMERACCOUNT' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.companyCarrierAccount.accountNumber" for="field_accountNumber">Account Number</label>
                    <input type="number" class="form-control" name="accountNumber" id="field_accountNumber"
                           formControlName="accountNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.companyCarrierAccount.meterNumber" for="field_meterNumber">Meter Number</label>
                    <input type="text" class="form-control" name="meterNumber" id="field_meterNumber"
                           formControlName="meterNumber"/>
                    <div *ngIf="editForm.get('meterNumber')!.invalid && (editForm.get('meterNumber')!.dirty || editForm.get('meterNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('meterNumber')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.companyCarrierAccount.key" for="field_key">Key</label>
                    <input type="text" class="form-control" name="key" id="field_key"
                           formControlName="key"/>
                    <div *ngIf="editForm.get('key')!.invalid && (editForm.get('key')!.dirty || editForm.get('key')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('key')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.companyCarrierAccount.password" for="field_password">Password</label>
                    <input type="text" class="form-control" name="password" id="field_password"
                           formControlName="password"/>
                    <div *ngIf="editForm.get('password')!.invalid && (editForm.get('password')!.dirty || editForm.get('password')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('password')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.companyCarrierAccount.region" for="field_region">Region</label>
                    <select class="form-control" id="field_region" name="region" formControlName="regionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="countryOption.id" *ngFor="let countryOption of countries; trackBy: trackById">{{ countryOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.companyCarrierAccount.carrier" for="field_carrier">Carrier</label>
                    <select class="form-control" id="field_carrier" name="carrier" formControlName="carrierId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="carrierOption.id" *ngFor="let carrierOption of carriers; trackBy: trackById">{{ carrierOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.companyCarrierAccount.franchise" for="field_franchise">Franchise</label>
                    <select class="form-control" id="field_franchise" name="franchise" formControlName="franchiseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="franchiseOption.id" *ngFor="let franchiseOption of franchises; trackBy: trackById">{{ franchiseOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
