<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-affiliate-heading" jhiTranslate="eshipperApp.affiliate.home.createOrEditLabel">Create or edit a Affiliate</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.affiliate.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.affiliate.notifyUser" for="field_notifyUser">Notify User</label>
                    <input type="checkbox" class="form-control" name="notifyUser" id="field_notifyUser"
                           formControlName="notifyUser"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.affiliate.promoCode" for="field_promoCode">Promo Code</label>
                    <input type="text" class="form-control" name="promoCode" id="field_promoCode"
                           formControlName="promoCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.affiliate.promoCodeUrl" for="field_promoCodeUrl">Promo Code Url</label>
                    <input type="text" class="form-control" name="promoCodeUrl" id="field_promoCodeUrl"
                           formControlName="promoCodeUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.affiliate.commissionPercentage" for="field_commissionPercentage">Commission Percentage</label>
                    <input type="number" class="form-control" name="commissionPercentage" id="field_commissionPercentage"
                           formControlName="commissionPercentage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.affiliate.commissionDate" for="field_commissionDate">Commission Date</label>
                    <div class="input-group">
                        <input id="field_commissionDate" type="text" class="form-control" name="commissionDate" ngbDatepicker #commissionDateDp="ngbDatepicker" formControlName="commissionDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="commissionDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.affiliate.createdDate" for="field_createdDate">Created Date</label>
                    <div class="input-group">
                        <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker #createdDateDp="ngbDatepicker" formControlName="createdDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.affiliate.updatedDate" for="field_updatedDate">Updated Date</label>
                    <div class="input-group">
                        <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" ngbDatepicker #updatedDateDp="ngbDatepicker" formControlName="updatedDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="updatedDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.affiliate.paymentMethod" for="field_paymentMethod">Payment Method</label>
                    <select class="form-control" id="field_paymentMethod" name="paymentMethod" formControlName="paymentMethodId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentMethodOption.id" *ngFor="let paymentMethodOption of paymentmethods; trackBy: trackById">{{ paymentMethodOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.affiliate.affiliate" for="field_affiliate">Affiliate</label>
                    <select class="form-control" id="field_affiliate" name="affiliate" formControlName="affiliateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackById">{{ companyOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.affiliate.franchise" for="field_franchise">Franchise</label>
                    <select class="form-control" id="field_franchise" name="franchise" formControlName="franchiseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="franchiseOption.id" *ngFor="let franchiseOption of franchises; trackBy: trackById">{{ franchiseOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
