<div>
    <h2 id="page-heading">
        <span jhiTranslate="eshipperApp.affiliate.home.title">Affiliates</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-affiliate" [routerLink]="['/affiliate/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="eshipperApp.affiliate.home.createLabel">
            Create a new Affiliate
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="affiliates?.length === 0">
        <span jhiTranslate="eshipperApp.affiliate.home.notFound">No affiliates found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="affiliates && affiliates.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isActive"><span jhiTranslate="eshipperApp.affiliate.isActive">Is Active</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="notifyUser"><span jhiTranslate="eshipperApp.affiliate.notifyUser">Notify User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="promoCode"><span jhiTranslate="eshipperApp.affiliate.promoCode">Promo Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="promoCodeUrl"><span jhiTranslate="eshipperApp.affiliate.promoCodeUrl">Promo Code Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commissionPercentage"><span jhiTranslate="eshipperApp.affiliate.commissionPercentage">Commission Percentage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commissionDate"><span jhiTranslate="eshipperApp.affiliate.commissionDate">Commission Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="eshipperApp.affiliate.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedDate"><span jhiTranslate="eshipperApp.affiliate.updatedDate">Updated Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentMethodId"><span jhiTranslate="eshipperApp.affiliate.paymentMethod">Payment Method</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="affiliateId"><span jhiTranslate="eshipperApp.affiliate.affiliate">Affiliate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="franchiseId"><span jhiTranslate="eshipperApp.affiliate.franchise">Franchise</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let affiliate of affiliates ;trackBy: trackId">
                    <td><a [routerLink]="['/affiliate', affiliate.id, 'view']">{{ affiliate.id }}</a></td>
                    <td>{{ affiliate.isActive }}</td>
                    <td>{{ affiliate.notifyUser }}</td>
                    <td>{{ affiliate.promoCode }}</td>
                    <td>{{ affiliate.promoCodeUrl }}</td>
                    <td>{{ affiliate.commissionPercentage }}</td>
                    <td>{{ affiliate.commissionDate | date:'mediumDate' }}</td>
                    <td>{{ affiliate.createdDate | date:'mediumDate' }}</td>
                    <td>{{ affiliate.updatedDate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="affiliate.paymentMethodId">
                            <a [routerLink]="['/payment-method', affiliate.paymentMethodId , 'view']" >{{ affiliate.paymentMethodId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="affiliate.affiliateId">
                            <a [routerLink]="['/company', affiliate.affiliateId , 'view']" >{{ affiliate.affiliateId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="affiliate.franchiseId">
                            <a [routerLink]="['/franchise', affiliate.franchiseId , 'view']" >{{ affiliate.franchiseId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/affiliate', affiliate.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/affiliate', affiliate.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(affiliate)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="affiliates && affiliates.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
