<div>
  <h2 id="page-heading" data-cy="EcomOrderHeading">
    <span jhiTranslate="eshipperApp.ecomOrder.home.title">Ecom Orders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eshipperApp.ecomOrder.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ecom-order"
        [routerLink]="['/ecom-order/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eshipperApp.ecomOrder.home.createLabel"> Create a new Ecom Order </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ecomOrders?.length === 0">
    <span jhiTranslate="eshipperApp.ecomOrder.home.notFound">No ecomOrders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ecomOrders && ecomOrders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.ecomOrderNumber">Ecom Order Number</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.customerName">Customer Name</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.domainName">Domain Name</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.name">Name</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.email">Email</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.gateway">Gateway</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.totalPrice">Total Price</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.subTotalPrice">Sub Total Price</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.totalWeight">Total Weight</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.totalTax">Total Tax</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.fulfillmentStatus">Fulfillment Status</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.paymentStatus">Payment Status</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.financialStatus">Financial Status</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.createdDate">Created Date</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.updatedDate">Updated Date</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.updatedBy">Updated By</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.isCancelled">Is Cancelled</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.isShipped">Is Shipped</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.eshipperStatus">Eshipper Status</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.residentialShippingAddress">Residential Shipping Address</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.shippingOrderRef">Shipping Order Ref</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.fromEmail">From Email</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.isCancelSchedule">Is Cancel Schedule</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.isSchedulePickup">Is Schedule Pickup</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.packageTypeId">Package Type Id</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.currency">Currency</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.shippingAddress">Shipping Address</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.billingAddress">Billing Address</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomOrder.ecomStore">Ecom Store</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ecomOrder of ecomOrders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ecom-order', ecomOrder.id, 'view']">{{ ecomOrder.id }}</a>
          </td>
          <td>{{ ecomOrder.ecomOrderNumber }}</td>
          <td>{{ ecomOrder.customerName }}</td>
          <td>{{ ecomOrder.domainName }}</td>
          <td>{{ ecomOrder.name }}</td>
          <td>{{ ecomOrder.email }}</td>
          <td>{{ ecomOrder.gateway }}</td>
          <td>{{ ecomOrder.totalPrice }}</td>
          <td>{{ ecomOrder.subTotalPrice }}</td>
          <td>{{ ecomOrder.totalWeight }}</td>
          <td>{{ ecomOrder.totalTax }}</td>
          <td>{{ ecomOrder.fulfillmentStatus }}</td>
          <td>{{ ecomOrder.paymentStatus }}</td>
          <td>{{ ecomOrder.financialStatus }}</td>
          <td>{{ ecomOrder.createdDate | formatMediumDate }}</td>
          <td>{{ ecomOrder.updatedDate | formatMediumDate }}</td>
          <td>{{ ecomOrder.updatedBy }}</td>
          <td>{{ ecomOrder.isCancelled }}</td>
          <td>{{ ecomOrder.isShipped }}</td>
          <td>{{ ecomOrder.eshipperStatus }}</td>
          <td>{{ ecomOrder.residentialShippingAddress }}</td>
          <td>{{ ecomOrder.shippingOrderRef }}</td>
          <td>{{ ecomOrder.fromEmail }}</td>
          <td>{{ ecomOrder.isCancelSchedule }}</td>
          <td>{{ ecomOrder.isSchedulePickup }}</td>
          <td>{{ ecomOrder.packageTypeId }}</td>
          <td>
            <div *ngIf="ecomOrder.currency">
              <a [routerLink]="['/currency', ecomOrder.currency?.id, 'view']">{{ ecomOrder.currency?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ecomOrder.shippingAddress">
              <a [routerLink]="['/shipping-address', ecomOrder.shippingAddress?.id, 'view']">{{ ecomOrder.shippingAddress?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ecomOrder.billingAddress">
              <a [routerLink]="['/shipping-address', ecomOrder.billingAddress?.id, 'view']">{{ ecomOrder.billingAddress?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ecomOrder.ecomStore">
              <a [routerLink]="['/ecom-store', ecomOrder.ecomStore?.id, 'view']">{{ ecomOrder.ecomStore?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ecom-order', ecomOrder.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ecom-order', ecomOrder.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ecomOrder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
