<div>
  <h2 id="page-heading" data-cy="EcomProductHeading">
    <span jhiTranslate="eshipperApp.ecomProduct.home.title">Ecom Products</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eshipperApp.ecomProduct.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ecom-product"
        [routerLink]="['/ecom-product/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eshipperApp.ecomProduct.home.createLabel"> Create a new Ecom Product </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ecomProducts?.length === 0">
    <span jhiTranslate="eshipperApp.ecomProduct.home.notFound">No ecomProducts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ecomProducts && ecomProducts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.title">Title</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.length">Length</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.width">Width</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.height">Height</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.weight">Weight</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.dimUnit">Dim Unit</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.wghtUnit">Wght Unit</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.goodsValue">Goods Value</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.productValue">Product Value</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.hsCodes">Hs Codes</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.sku">Sku</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.policy">Policy</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.insuranceAmt">Insurance Amt</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.isInsured">Is Insured</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.country">Country</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.ecomWarehouse">Ecom Warehouse</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.ecomProduct.ecomOrder">Ecom Order</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ecomProduct of ecomProducts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ecom-product', ecomProduct.id, 'view']">{{ ecomProduct.id }}</a>
          </td>
          <td>{{ ecomProduct.title }}</td>
          <td>{{ ecomProduct.length }}</td>
          <td>{{ ecomProduct.width }}</td>
          <td>{{ ecomProduct.height }}</td>
          <td>{{ ecomProduct.weight }}</td>
          <td>{{ ecomProduct.dimUnit }}</td>
          <td>{{ ecomProduct.wghtUnit }}</td>
          <td>{{ ecomProduct.goodsValue }}</td>
          <td>{{ ecomProduct.productValue }}</td>
          <td>{{ ecomProduct.hsCodes }}</td>
          <td>{{ ecomProduct.sku }}</td>
          <td>{{ ecomProduct.policy }}</td>
          <td>{{ ecomProduct.insuranceAmt }}</td>
          <td>{{ ecomProduct.isInsured }}</td>
          <td>
            <div *ngIf="ecomProduct.country">
              <a [routerLink]="['/country', ecomProduct.country?.id, 'view']">{{ ecomProduct.country?.id }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let ecomWarehouse of ecomProduct.ecomWarehouses; let last = last">
              <a class="form-control-static" [routerLink]="['/ecom-warehouse', ecomWarehouse.id, 'view']">{{ ecomWarehouse.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="ecomProduct.ecomOrder">
              <a [routerLink]="['/ecom-order', ecomProduct.ecomOrder?.id, 'view']">{{ ecomProduct.ecomOrder?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ecom-product', ecomProduct.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ecom-product', ecomProduct.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ecomProduct)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
