<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ecom-markup-secondary-heading"
        data-cy="EcomMarkupSecondaryCreateUpdateHeading"
        jhiTranslate="eshipperApp.ecomMarkupSecondary.home.createOrEditLabel"
      >
        Create or edit a Ecom Markup Secondary
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eshipperApp.ecomMarkupSecondary.value" for="field_value">Value</label>
          <input type="number" class="form-control" name="value" id="field_value" data-cy="value" formControlName="value" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eshipperApp.ecomMarkupSecondary.fromZip" for="field_fromZip">From Zip</label>
          <input type="text" class="form-control" name="fromZip" id="field_fromZip" data-cy="fromZip" formControlName="fromZip" />
          <div *ngIf="editForm.get('fromZip')!.invalid && (editForm.get('fromZip')!.dirty || editForm.get('fromZip')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fromZip')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="eshipperApp.ecomMarkupSecondary.toZip" for="field_toZip">To Zip</label>
          <input type="text" class="form-control" name="toZip" id="field_toZip" data-cy="toZip" formControlName="toZip" />
          <div *ngIf="editForm.get('toZip')!.invalid && (editForm.get('toZip')!.dirty || editForm.get('toZip')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('toZip')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
