<div>
  <h2 id="page-heading" data-cy="SisyphusJobHeading">
    <span jhiTranslate="eshipperApp.sisyphusJob.home.title">Sisyphus Jobs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eshipperApp.sisyphusJob.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sisyphus-job"
        [routerLink]="['/sisyphus-job/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eshipperApp.sisyphusJob.home.createLabel"> Create a new Sisyphus Job </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sisyphusJobs?.length === 0">
    <span jhiTranslate="eshipperApp.sisyphusJob.home.notFound">No sisyphusJobs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sisyphusJobs && sisyphusJobs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="eshipperApp.sisyphusJob.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="scheduleMinute">
            <span jhiTranslate="eshipperApp.sisyphusJob.scheduleMinute">Schedule Minute</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="scheduleHour">
            <span jhiTranslate="eshipperApp.sisyphusJob.scheduleHour">Schedule Hour</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="scheduleDay">
            <span jhiTranslate="eshipperApp.sisyphusJob.scheduleDay">Schedule Day</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="scheduleMonth">
            <span jhiTranslate="eshipperApp.sisyphusJob.scheduleMonth">Schedule Month</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="shouldrunYN">
            <span jhiTranslate="eshipperApp.sisyphusJob.shouldrunYN">Shouldrun YN</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="retries">
            <span jhiTranslate="eshipperApp.sisyphusJob.retries">Retries</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="moniterScheduleYN">
            <span jhiTranslate="eshipperApp.sisyphusJob.moniterScheduleYN">Moniter Schedule YN</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sisyphusJob of sisyphusJobs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sisyphus-job', sisyphusJob.id, 'view']">{{ sisyphusJob.id }}</a>
          </td>
          <td>{{ sisyphusJob.name }}</td>
          <td>{{ sisyphusJob.scheduleMinute }}</td>
          <td>{{ sisyphusJob.scheduleHour }}</td>
          <td>{{ sisyphusJob.scheduleDay }}</td>
          <td>{{ sisyphusJob.scheduleMonth }}</td>
          <td>{{ sisyphusJob.shouldrunYN }}</td>
          <td>{{ sisyphusJob.retries }}</td>
          <td>{{ sisyphusJob.moniterScheduleYN }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sisyphus-job', sisyphusJob.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sisyphus-job', sisyphusJob.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(sisyphusJob)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sisyphusJobs && sisyphusJobs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
