<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ecomMarkupQuaternary">
            <h2><span jhiTranslate="eshipperApp.ecomMarkupQuaternary.detail.title">Ecom Markup Quaternary</span> {{ ecomMarkupQuaternary.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eshipperApp.ecomMarkupQuaternary.value">Value</span></dt>
                <dd>
                    <span>{{ ecomMarkupQuaternary.value }}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.ecomMarkupQuaternary.country">Country</span></dt>
                <dd>
                    <div *ngIf="ecomMarkupQuaternary.countryId">
                        <a [routerLink]="['/country', ecomMarkupQuaternary.countryId, 'view']">{{ ecomMarkupQuaternary.countryId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ecom-markup-quaternary', ecomMarkupQuaternary.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
