<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ecom-store-heading" jhiTranslate="eshipperApp.ecomStore.home.createOrEditLabel">Create or edit a Ecom Store</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.nickName" for="field_nickName">Nick Name</label>
                    <input type="text" class="form-control" name="nickName" id="field_nickName"
                           formControlName="nickName"/>
                    <div *ngIf="editForm.get('nickName')!.invalid && (editForm.get('nickName')!.dirty || editForm.get('nickName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nickName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.apiPassword" for="field_apiPassword">Api Password</label>
                    <input type="text" class="form-control" name="apiPassword" id="field_apiPassword"
                           formControlName="apiPassword"/>
                    <div *ngIf="editForm.get('apiPassword')!.invalid && (editForm.get('apiPassword')!.dirty || editForm.get('apiPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('apiPassword')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.domain" for="field_domain">Domain</label>
                    <input type="text" class="form-control" name="domain" id="field_domain"
                           formControlName="domain"/>
                    <div *ngIf="editForm.get('domain')!.invalid && (editForm.get('domain')!.dirty || editForm.get('domain')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('domain')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.syncFrequency" for="field_syncFrequency">Sync Frequency</label>
                    <input type="number" class="form-control" name="syncFrequency" id="field_syncFrequency"
                           formControlName="syncFrequency"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.syncInterval" for="field_syncInterval">Sync Interval</label>
                    <input type="text" class="form-control" name="syncInterval" id="field_syncInterval"
                           formControlName="syncInterval"/>
                    <div *ngIf="editForm.get('syncInterval')!.invalid && (editForm.get('syncInterval')!.dirty || editForm.get('syncInterval')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('syncInterval')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.isManualSync" for="field_isManualSync">Is Manual Sync</label>
                    <input type="checkbox" class="form-control" name="isManualSync" id="field_isManualSync"
                           formControlName="isManualSync"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.createdDate" for="field_createdDate">Created Date</label>
                    <div class="input-group">
                        <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker #createdDateDp="ngbDatepicker" formControlName="createdDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.updatedDate" for="field_updatedDate">Updated Date</label>
                    <div class="input-group">
                        <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" ngbDatepicker #updatedDateDp="ngbDatepicker" formControlName="updatedDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="updatedDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.ecomStoreAddress" for="field_ecomStoreAddress">Ecom Store Address</label>
                    <select class="form-control" id="field_ecomStoreAddress" name="ecomStoreAddress" formControlName="ecomStoreAddressId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ecomStoreAddressOption.id" *ngFor="let ecomStoreAddressOption of ecomstoreaddresses; trackBy: trackById">{{ ecomStoreAddressOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.ecomStoreColorTheme" for="field_ecomStoreColorTheme">Ecom Store Color Theme</label>
                    <select class="form-control" id="field_ecomStoreColorTheme" name="ecomStoreColorTheme" formControlName="ecomStoreColorThemeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ecomStoreColorThemeOption.id" *ngFor="let ecomStoreColorThemeOption of ecomstorecolorthemes; trackBy: trackById">{{ ecomStoreColorThemeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.ecomStoreShipmentSettings" for="field_ecomStoreShipmentSettings">Ecom Store Shipment Settings</label>
                    <select class="form-control" id="field_ecomStoreShipmentSettings" name="ecomStoreShipmentSettings" formControlName="ecomStoreShipmentSettingsId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ecomStoreShipmentSettingsOption.id" *ngFor="let ecomStoreShipmentSettingsOption of ecomstoreshipmentsettings; trackBy: trackById">{{ ecomStoreShipmentSettingsOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.ecomStorePackageSettings" for="field_ecomStorePackageSettings">Ecom Store Package Settings</label>
                    <select class="form-control" id="field_ecomStorePackageSettings" name="ecomStorePackageSettings" formControlName="ecomStorePackageSettingsId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ecomStorePackageSettingsOption.id" *ngFor="let ecomStorePackageSettingsOption of ecomstorepackagesettings; trackBy: trackById">{{ ecomStorePackageSettingsOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.ecomStoreMarkup" for="field_ecomStoreMarkup">Ecom Store Markup</label>
                    <select class="form-control" id="field_ecomStoreMarkup" name="ecomStoreMarkup" formControlName="ecomStoreMarkupId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ecomStoreMarkupOption.id" *ngFor="let ecomStoreMarkupOption of ecomstoremarkups; trackBy: trackById">{{ ecomStoreMarkupOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" formControlName="companyId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackById">{{ companyOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomStore.ecomProduct" for="field_ecomProduct">Ecom Product</label>
                    <select class="form-control" id="field_ecomProduct" name="ecomProduct" formControlName="ecomProductId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ecomProductOption.id" *ngFor="let ecomProductOption of ecomproducts; trackBy: trackById">{{ ecomProductOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="eshipperApp.ecomStore.shipmentService" for="field_shipmentServices">Shipment Service</label>
                    <select class="form-control" id="field_shipmentServices" multiple name="shipmentServices" formControlName="shipmentServices">
                        <option [ngValue]="getSelected(editForm.get('shipmentServices')!.value, shipmentServiceOption)" *ngFor="let shipmentServiceOption of shipmentservices; trackBy: trackById">{{ shipmentServiceOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
