<div>
    <h2 id="page-heading">
        <span jhiTranslate="eshipperApp.elasticSearchWoSalesAgent.home.title">Elastic Search Wo Sales Agents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-elastic-search-wo-sales-agent" [routerLink]="['/elastic-search-wo-sales-agent/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="eshipperApp.elasticSearchWoSalesAgent.home.createLabel">
            Create a new Elastic Search Wo Sales Agent
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="elasticSearchWoSalesAgents?.length === 0">
        <span jhiTranslate="eshipperApp.elasticSearchWoSalesAgent.home.notFound">No elasticSearchWoSalesAgents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="elasticSearchWoSalesAgents && elasticSearchWoSalesAgents.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statusId"><span jhiTranslate="eshipperApp.elasticSearchWoSalesAgent.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let elasticSearchWoSalesAgent of elasticSearchWoSalesAgents ;trackBy: trackId">
                    <td><a [routerLink]="['/elastic-search-wo-sales-agent', elasticSearchWoSalesAgent.id, 'view']">{{ elasticSearchWoSalesAgent.id }}</a></td>
                    <td>
                        <div *ngIf="elasticSearchWoSalesAgent.statusId">
                            <a [routerLink]="['/elastic-status', elasticSearchWoSalesAgent.statusId , 'view']" >{{ elasticSearchWoSalesAgent.statusId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/elastic-search-wo-sales-agent', elasticSearchWoSalesAgent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/elastic-search-wo-sales-agent', elasticSearchWoSalesAgent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(elasticSearchWoSalesAgent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="elasticSearchWoSalesAgents && elasticSearchWoSalesAgents.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
