<div>
  <h2 id="page-heading" data-cy="SisyphusClassesHeading">
    <span jhiTranslate="eshipperApp.sisyphusClasses.home.title">Sisyphus Classes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eshipperApp.sisyphusClasses.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sisyphus-classes"
        [routerLink]="['/sisyphus-classes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eshipperApp.sisyphusClasses.home.createLabel"> Create a new Sisyphus Classes </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sisyphusClasses?.length === 0">
    <span jhiTranslate="eshipperApp.sisyphusClasses.home.notFound">No sisyphusClasses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sisyphusClasses && sisyphusClasses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.sisyphusClasses.iD">I D</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.sisyphusClasses.nAME">N AME</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.sisyphusClasses.dESCRIPTION">D ESCRIPTION</span></th>
          <th scope="col"><span jhiTranslate="eshipperApp.sisyphusClasses.classes">Classes</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sisyphusClasses of sisyphusClasses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sisyphus-classes', sisyphusClasses.id, 'view']">{{ sisyphusClasses.id }}</a>
          </td>
          <td>{{ sisyphusClasses.iD }}</td>
          <td>{{ sisyphusClasses.nAME }}</td>
          <td>{{ sisyphusClasses.dESCRIPTION }}</td>
          <td>
            <div *ngIf="sisyphusClasses.classes">
              <a [routerLink]="['/sisyphus-sub-job', sisyphusClasses.classes?.id, 'view']">{{ sisyphusClasses.classes?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sisyphus-classes', sisyphusClasses.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sisyphus-classes', sisyphusClasses.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(sisyphusClasses)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
