<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-wo-sales-commission-carrier-heading" jhiTranslate="eshipperApp.woSalesCommissionCarrier.home.createOrEditLabel">Create or edit a Wo Sales Commission Carrier</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.woSalesCommissionCarrier.commissionPercentageByCarrier" for="field_commissionPercentageByCarrier">Commission Percentage By Carrier</label>
                    <input type="number" class="form-control" name="commissionPercentageByCarrier" id="field_commissionPercentageByCarrier"
                           formControlName="commissionPercentageByCarrier"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.woSalesCommissionCarrier.carrier" for="field_carrier">Carrier</label>
                    <select class="form-control" id="field_carrier" name="carrier" formControlName="carrierId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="carrierOption.id" *ngFor="let carrierOption of carriers; trackBy: trackById">{{ carrierOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.woSalesCommissionCarrier.carrierService" for="field_carrierService">Carrier Service</label>
                    <select class="form-control" id="field_carrierService" name="carrierService" formControlName="carrierServiceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="carrierServiceOption.id" *ngFor="let carrierServiceOption of carrierservices; trackBy: trackById">{{ carrierServiceOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.woSalesCommissionCarrier.woSalesCommissionDetails" for="field_woSalesCommissionDetails">Wo Sales Commission Details</label>
                    <select class="form-control" id="field_woSalesCommissionDetails" name="woSalesCommissionDetails" formControlName="woSalesCommissionDetailsId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="woSalesCommissionDetailsOption.id" *ngFor="let woSalesCommissionDetailsOption of wosalescommissiondetails; trackBy: trackById">{{ woSalesCommissionDetailsOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
