<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="sisyphusClasses">
      <h2 data-cy="sisyphusClassesDetailsHeading"><span jhiTranslate="eshipperApp.sisyphusClasses.detail.title">Sisyphus Classes</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sisyphusClasses.id }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.sisyphusClasses.name">Name</span></dt>
        <dd>
          <span>{{ sisyphusClasses.name }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.sisyphusClasses.description">Description</span></dt>
        <dd>
          <span>{{ sisyphusClasses.description }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.sisyphusClasses.sisyphusClasses">Sisyphus Classes</span></dt>
        <dd>
          <div *ngIf="sisyphusClasses.sisyphusClasses">
            <a [routerLink]="['/sisyphus-sub-job', sisyphusClasses.sisyphusClasses?.id, 'view']">{{
              sisyphusClasses.sisyphusClasses?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sisyphus-classes', sisyphusClasses.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
