<div>
    <h2 id="page-heading">
        <span jhiTranslate="eshipperApp.ecomStoreShipmentSettings.home.title">Ecom Store Shipment Settings</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ecom-store-shipment-settings" [routerLink]="['/ecom-store-shipment-settings/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="eshipperApp.ecomStoreShipmentSettings.home.createLabel">
            Create a new Ecom Store Shipment Settings
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ecomStoreShipmentSettings?.length === 0">
        <span jhiTranslate="eshipperApp.ecomStoreShipmentSettings.home.notFound">No ecomStoreShipmentSettings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ecomStoreShipmentSettings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="eshipperApp.ecomStoreShipmentSettings.shippingMode">Shipping Mode</span></th>
                    <th scope="col" ><span jhiTranslate="eshipperApp.ecomStoreShipmentSettings.signatureReqd">Signature Reqd</span></th>
                    <th scope="col" ><span jhiTranslate="eshipperApp.ecomStoreShipmentSettings.schedulePickup">Schedule Pickup</span></th>
                    <th scope="col" ><span jhiTranslate="eshipperApp.ecomStoreShipmentSettings.liveRates">Live Rates</span></th>
                    <th scope="col" ><span jhiTranslate="eshipperApp.ecomStoreShipmentSettings.addResidential">Add Residential</span></th>
                    <th scope="col" ><span jhiTranslate="eshipperApp.ecomStoreShipmentSettings.tailgateAtDestination">Tailgate At Destination</span></th>
                    <th scope="col" ><span jhiTranslate="eshipperApp.ecomStoreShipmentSettings.tailgateAtSource">Tailgate At Source</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ecomStoreShipmentSettings of ecomStoreShipmentSettings ;trackBy: trackId">
                    <td><a [routerLink]="['/ecom-store-shipment-settings', ecomStoreShipmentSettings.id, 'view']">{{ ecomStoreShipmentSettings.id }}</a></td>
                    <td>{{ ecomStoreShipmentSettings.shippingMode }}</td>
                    <td>{{ ecomStoreShipmentSettings.signatureReqd }}</td>
                    <td>{{ ecomStoreShipmentSettings.schedulePickup }}</td>
                    <td>{{ ecomStoreShipmentSettings.liveRates }}</td>
                    <td>{{ ecomStoreShipmentSettings.addResidential }}</td>
                    <td>{{ ecomStoreShipmentSettings.tailgateAtDestination }}</td>
                    <td>{{ ecomStoreShipmentSettings.tailgateAtSource }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ecom-store-shipment-settings', ecomStoreShipmentSettings.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ecom-store-shipment-settings', ecomStoreShipmentSettings.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ecomStoreShipmentSettings)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
