<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="sisyphusJobParam">
      <h2 data-cy="sisyphusJobParamDetailsHeading">
        <span jhiTranslate="eshipperApp.sisyphusJobParam.detail.title">Sisyphus Job Param</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sisyphusJobParam.id }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.sisyphusJobParam.name">Name</span></dt>
        <dd>
          <span>{{ sisyphusJobParam.name }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.sisyphusJobParam.value">Value</span></dt>
        <dd>
          <span>{{ sisyphusJobParam.value }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.sisyphusJobParam.sisyphusJob">Sisyphus Job</span></dt>
        <dd>
          <div *ngIf="sisyphusJobParam.sisyphusJob">
            <a [routerLink]="['/sisyphus-job', sisyphusJobParam.sisyphusJob?.id, 'view']">{{ sisyphusJobParam.sisyphusJob?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sisyphus-job-param', sisyphusJobParam.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
