<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ecomOrderAttachment">
            <h2><span jhiTranslate="eshipperApp.ecomOrderAttachment.detail.title">Ecom Order Attachment</span> {{ ecomOrderAttachment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eshipperApp.ecomOrderAttachment.name">Name</span></dt>
                <dd>
                    <span>{{ ecomOrderAttachment.name }}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.ecomOrderAttachment.attachmentPath">Attachment Path</span></dt>
                <dd>
                    <span>{{ ecomOrderAttachment.attachmentPath }}</span>
                </dd>
                <dt><span jhiTranslate="eshipperApp.ecomOrderAttachment.ecomOrder">Ecom Order</span></dt>
                <dd>
                    <div *ngIf="ecomOrderAttachment.ecomOrderId">
                        <a [routerLink]="['/ecom-order', ecomOrderAttachment.ecomOrderId, 'view']">{{ ecomOrderAttachment.ecomOrderId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ecom-order-attachment', ecomOrderAttachment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
