<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ecom-order-attachment-heading" jhiTranslate="eshipperApp.ecomOrderAttachment.home.createOrEditLabel">Create or edit a Ecom Order Attachment</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomOrderAttachment.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomOrderAttachment.attachmentPath" for="field_attachmentPath">Attachment Path</label>
                    <input type="text" class="form-control" name="attachmentPath" id="field_attachmentPath"
                           formControlName="attachmentPath"/>
                    <div *ngIf="editForm.get('attachmentPath')!.invalid && (editForm.get('attachmentPath')!.dirty || editForm.get('attachmentPath')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('attachmentPath')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eshipperApp.ecomOrderAttachment.ecomOrder" for="field_ecomOrder">Ecom Order</label>
                    <select class="form-control" id="field_ecomOrder" name="ecomOrder" formControlName="ecomOrderId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ecomOrderOption.id" *ngFor="let ecomOrderOption of ecomorders; trackBy: trackById">{{ ecomOrderOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
