<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="ecomMailTemplate">
      <h2 data-cy="ecomMailTemplateDetailsHeading">
        <span jhiTranslate="eshipperApp.ecomMailTemplate.detail.title">Ecom Mail Template</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ecomMailTemplate.id }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.ecomMailTemplate.templateName">Template Name</span></dt>
        <dd>
          <span>{{ ecomMailTemplate.templateName }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.ecomMailTemplate.templateType">Template Type</span></dt>
        <dd>
          <span>{{ ecomMailTemplate.templateType }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.ecomMailTemplate.note">Note</span></dt>
        <dd>
          <span>{{ ecomMailTemplate.note }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.ecomMailTemplate.subject">Subject</span></dt>
        <dd>
          <span>{{ ecomMailTemplate.subject }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.ecomMailTemplate.content">Content</span></dt>
        <dd>
          <span>{{ ecomMailTemplate.content }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.ecomMailTemplate.isCustomTemplate">Is Custom Template</span></dt>
        <dd>
          <span>{{ ecomMailTemplate.isCustomTemplate }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.ecomMailTemplate.isOrder">Is Order</span></dt>
        <dd>
          <span>{{ ecomMailTemplate.isOrder }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.ecomMailTemplate.isShipment">Is Shipment</span></dt>
        <dd>
          <span>{{ ecomMailTemplate.isShipment }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.ecomMailTemplate.isProductPurchased">Is Product Purchased</span></dt>
        <dd>
          <span>{{ ecomMailTemplate.isProductPurchased }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.ecomMailTemplate.isAmountPaid">Is Amount Paid</span></dt>
        <dd>
          <span>{{ ecomMailTemplate.isAmountPaid }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.ecomMailTemplate.isStoreInfo">Is Store Info</span></dt>
        <dd>
          <span>{{ ecomMailTemplate.isStoreInfo }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.ecomMailTemplate.isBody1">Is Body 1</span></dt>
        <dd>
          <span>{{ ecomMailTemplate.isBody1 }}</span>
        </dd>
        <dt><span jhiTranslate="eshipperApp.ecomMailTemplate.ecomStore">Ecom Store</span></dt>
        <dd>
          <div *ngIf="ecomMailTemplate.ecomStore">
            <a [routerLink]="['/ecom-store', ecomMailTemplate.ecomStore?.id, 'view']">{{ ecomMailTemplate.ecomStore?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ecom-mail-template', ecomMailTemplate.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
